In [15]:
import pandas as pd

# Load the two CSV files into data frames
big_df = pd.read_csv('C:/Users/Dell/Documents/Business Analytics Year 4/Applied Predictive Analytics DATA4001 2022-23/NBA_Player_Stats_2.csv')
small_df = pd.read_csv('C:/Users/Dell/Documents/Business Analytics Year 4/Applied Predictive Analytics DATA4001 2022-23/NBA_Salary_stats_2.csv')

big_df['Player'] = big_df['Player'].str.replace('*', '')
# Make a copy of the big data frame to store the updated data
big_df_updated = big_df.copy()

# Iterate over the rows in the small data frame
for _, small_row in small_df.iterrows():
  # Get the player name and season from the small data frame
  player = small_row['Player']
  season = small_row['Season']

  # Find the rows in the big data frame that match the player and season
  matching_rows = big_df[(big_df['Player'].str.lower() == player.lower()) & (big_df['Season'] == season)]

  # If a match was found, update the big data frame with the salary and inflation-adjusted salary from the small data frame
  if not matching_rows.empty:
    big_df_updated.loc[matching_rows.index, 'Player salary'] = small_row['Player salary']
    big_df_updated.loc[matching_rows.index, 'Salary Adjusted for inflation'] = small_row['Salary Adjusted for inflation']


big_df

C:\Users\Dell\AppData\Local\Temp/ipykernel_13416/1456341534.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  big_df['Player'] = big_df['Player'].str.replace('*', '')

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Season,MVP
0,1,Mahmoud Abdul-Rauf,PG,28,SAC,31,0,17.1,3.3,8.8,...,1.0,1.2,1.9,0.5,0.0,0.6,1.0,7.3,1997-98,False
1,2,Tariq Abdul-Wahad,SG,23,SAC,59,16,16.3,2.4,6.1,...,1.2,2.0,0.9,0.6,0.2,1.1,1.4,6.4,1997-98,False
2,3,Shareef Abdur-Rahim,SF,21,VAN,82,82,36.0,8.0,16.4,...,4.3,7.1,2.6,1.1,0.9,3.1,2.5,22.3,1997-98,False
3,4,Cory Alexander,PG,24,TOT,60,22,21.6,2.9,6.7,...,2.2,2.4,3.5,1.2,0.2,1.9,1.6,8.1,1997-98,False
4,4,Cory Alexander,PG,24,SAS,37,3,13.5,1.6,3.9,...,1.1,1.3,1.9,0.7,0.1,1.3,1.4,4.5,1997-98,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14568,601,Thaddeus Young,PF,33,TOR,26,0,18.3,2.6,5.5,...,2.9,4.4,1.7,1.2,0.4,0.8,1.7,6.3,2021-22,False
14569,602,Trae Young,PG,23,ATL,76,76,34.9,9.4,20.3,...,3.1,3.7,9.7,0.9,0.1,4.0,1.7,28.4,2021-22,False
14570,603,Omer Yurtseven,C,23,MIA,56,12,12.6,2.3,4.4,...,3.7,5.3,0.9,0.3,0.4,0.7,1.5,5.3,2021-22,False
14571,604,Cody Zeller,C,29,POR,27,0,13.1,1.9,3.3,...,2.8,4.6,0.8,0.3,0.2,0.7,2.1,5.2,2021-22,False
14572,605,Ivica Zubac,C,24,LAC,76,76,24.4,4.1,6.5,...,5.6,8.5,1.6,0.5,1.0,1.5,2.7,10.3,2021-22,False

In [16]:
big_df_updated

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,AST,STL,BLK,TOV,PF,PTS,Season,MVP,Player salary,Salary Adjusted for inflation
0,1,Mahmoud Abdul-Rauf,PG,28,SAC,31,0,17.1,3.3,8.8,...,1.9,0.5,0.0,0.6,1.0,7.3,1997-98,False,"$3,300,000","$6,099,976"
1,2,Tariq Abdul-Wahad,SG,23,SAC,59,16,16.3,2.4,6.1,...,0.9,0.6,0.2,1.1,1.4,6.4,1997-98,False,"$1,226,880","$2,267,860"
2,3,Shareef Abdur-Rahim,SF,21,VAN,82,82,36.0,8.0,16.4,...,2.6,1.1,0.9,3.1,2.5,22.3,1997-98,False,"$2,513,760","$4,646,629"
3,4,Cory Alexander,PG,24,TOT,60,22,21.6,2.9,6.7,...,3.5,1.2,0.2,1.9,1.6,8.1,1997-98,False,"$562,380","$1,039,546"
4,4,Cory Alexander,PG,24,SAS,37,3,13.5,1.6,3.9,...,1.9,0.7,0.1,1.3,1.4,4.5,1997-98,False,"$562,380","$1,039,546"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14568,601,Thaddeus Young,PF,33,TOR,26,0,18.3,2.6,5.5,...,1.7,1.2,0.4,0.8,1.7,6.3,2021-22,False,"$14,190,000","$15,475,579"
14569,602,Trae Young,PG,23,ATL,76,76,34.9,9.4,20.3,...,9.7,0.9,0.1,4.0,1.7,28.4,2021-22,False,"$8,326,471","$9,080,829"
14570,603,Omer Yurtseven,C,23,MIA,56,12,12.6,2.3,4.4,...,0.9,0.3,0.4,0.7,1.5,5.3,2021-22,False,"$1,489,065","$1,623,970"
14571,604,Cody Zeller,C,29,POR,27,0,13.1,1.9,3.3,...,0.8,0.3,0.2,0.7,2.1,5.2,2021-22,False,"$2,389,641","$2,606,136"
14572,605,Ivica Zubac,C,24,LAC,76,76,24.4,4.1,6.5,...,1.6,0.5,1.0,1.5,2.7,10.3,2021-22,False,"$7,518,518","$8,199,677"

In [ ]:
# Save the updated data frame to a CSV file
big_df_updated.to_csv('big_updated.csv', index=False)

In [17]:
import pandas as pd

# Load the franchises CSV file into a data frame
franchises_df = pd.read_csv('C:/Users/Dell/Documents/Business Analytics Year 4/Applied Predictive Analytics DATA4001 2022-23/NBA_team_caps2.csv')

# Iterate over the rows in the franchises data frame
for _, franchises_row in franchises_df.iterrows():
  # Get the team name and season from the franchises data frame
  tm = franchises_row['Tm']
  season = franchises_row['Season']

  # Find the rows in the big data frame that match the team and season
  matching_rows = big_df_updated[(big_df_updated['Tm'].str.lower() == tm.lower()) & (big_df_updated['Season'] == season)]

  # If a match was found, update the big data frame with the salary cap and inflation-adjusted salary cap from the franchises data frame
  if not matching_rows.empty:
    big_df_updated.loc[matching_rows.index, 'Salary Cap'] = franchises_row['Salary Cap']
    big_df_updated.loc[matching_rows.index, 'Adjusted for inflation'] = franchises_row['Adjusted for inflation']

In [18]:
big_df_updated

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,BLK,TOV,PF,PTS,Season,MVP,Player salary,Salary Adjusted for inflation,Salary Cap,Adjusted for inflation
0,1,Mahmoud Abdul-Rauf,PG,28,SAC,31,0,17.1,3.3,8.8,...,0.0,0.6,1.0,7.3,1997-98,False,"$3,300,000","$6,099,976","$30,046,350","$55,540,001"
1,2,Tariq Abdul-Wahad,SG,23,SAC,59,16,16.3,2.4,6.1,...,0.2,1.1,1.4,6.4,1997-98,False,"$1,226,880","$2,267,860","$30,046,350","$55,540,001"
2,3,Shareef Abdur-Rahim,SF,21,VAN,82,82,36.0,8.0,16.4,...,0.9,3.1,2.5,22.3,1997-98,False,"$2,513,760","$4,646,629","$25,637,110","$47,389,622"
3,4,Cory Alexander,PG,24,TOT,60,22,21.6,2.9,6.7,...,0.2,1.9,1.6,8.1,1997-98,False,"$562,380","$1,039,546",NaN,NaN
4,4,Cory Alexander,PG,24,SAS,37,3,13.5,1.6,3.9,...,0.1,1.3,1.4,4.5,1997-98,False,"$562,380","$1,039,546","$38,846,163","$71,806,266"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14568,601,Thaddeus Young,PF,33,TOR,26,0,18.3,2.6,5.5,...,0.4,0.8,1.7,6.3,2021-22,False,"$14,190,000","$15,475,579","$134,896,484","$147,117,769"
14569,602,Trae Young,PG,23,ATL,76,76,34.9,9.4,20.3,...,0.1,4.0,1.7,28.4,2021-22,False,"$8,326,471","$9,080,829","$135,166,020","$147,411,722"
14570,603,Omer Yurtseven,C,23,MIA,56,12,12.6,2.3,4.4,...,0.4,0.7,1.5,5.3,2021-22,False,"$1,489,065","$1,623,970","$140,840,240","$153,600,014"
14571,604,Cody Zeller,C,29,POR,27,0,13.1,1.9,3.3,...,0.2,0.7,2.1,5.2,2021-22,False,"$2,389,641","$2,606,136","$124,788,473","$136,093,994"
14572,605,Ivica Zubac,C,24,LAC,76,76,24.4,4.1,6.5,...,1.0,1.5,2.7,10.3,2021-22,False,"$7,518,518","$8,199,677","$168,378,382","$183,633,046"

In [20]:
# Save the updated data frame to a CSV file
big_df_updated.to_csv('final3.csv', index=False)